@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  --font-plain: Arial, Helvetica, sans-serif;
}

@utility shadow-dark {
  @apply shadow-[0_12px_25px_8px_rgba(0,0,0,0.4),0_4px_40px_rgba(255,255,255,0.5)];
}

@layer components {
  .card {
    @apply border-2 rounded-xl p-4 px-6 shadow-2xl dark:shadow-dark;
  }

  .chip {
    @apply rounded-full border px-2 text-sm font-bold;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

a {
  @apply underline;
}